<div class="card bgPrimary txSecondary pages-card-dimension">
    <div class="header bgSecondary txPrimary">
        <div class="titleHeader">
            Il tuo nome..
        </div>
        <div class="menuItem">
            Contatti
        </div>
        <div class="menuItem">
            Chi siamo
        </div>
        <div class="menuItem">
            Partecipa
        </div>
        <div class="menuItem">
            Relatori
        </div>
    </div>
    <div class="mainTitle">
        Partecipa alla conferenza
    </div>
    <div class="secondTitle">
        Gestisci conferenze e partecipanti
    </div>
    <div class="uno CTAButton txPrimary bgSecondary tx8 pd4">Compra biglietti</div>
    <div class="details">
        <div class="details-header">
            Quando
        </div>
        <div class="details-content">
            23 Ott, 2019
        </div>
        <div class="details-header">
            Dove
        </div>
        <div class="details-content">
            Bologna
        </div>
        <div class="details-header">
            Chi
        </div>
        <div class="details-content">
            10 Relatori
        </div>
    </div>
</div>