<div class="page" #contactsRef>
    <div class="title montserratRegular">
        Contattami!
    </div>
    <div class="address">
        <div class="section-title">
            Indirizzo
        </div>
        Via Pescia 270/2, Modena (MO)
    </div>
    <div class="social">
        <div class="section-title">
            Social
        </div>
        <a href="mailto:scaliseraoul00@gmail.com" target="_blank">E-mail</a>
        <br>
        <a href="https://www.linkedin.com/in/raoul-scalise" target="_blank">LinkedIn</a>
        <br>
        <a href="https://www.instagram.com/raoul_scalise/" target="_blank">Instagram</a>
        <br>
        <a href="https://t.me/raoul_scalise" target="_blank">Telegram</a>
    </div>
    <div class="footer bgSecondary">
        <div class="copyright montserratRegular">
            &copy; 2019 Scaliseraoul.com
        </div>
    </div>
</div>