<div class="card bgPrimary txSecondary pages-card-dimension">
    <div class="header bgSecondary txPrimary">
        <div class="titleHeader">
            Il tuo nome..
        </div>
        <div class="menuItem">
            Contatti
        </div>
        <div class="menuItem">
            Chi siamo
        </div>
        <div class="menuItem">
            Costi
        </div>
        <div class="menuItem">
            Partecipanti
        </div>
    </div>
    <div class="mainTitle">
        Partecipa al corso di Inglese
    </div>
    <div class="secondTitle">
        Gestisci i tuoi corsi ed i tuoi allievi
    </div>
    <div class="uno CTAButton txPrimary bgSecondary tx8 pd4">Unisciti</div>
    <div class="footerTxt">
        <div class="titleHeader">
            Informazione sul corso
        </div>
        <div class="menuItem montserratBold">
            23 Ott, 2019
        </div>
        <div class="menuItem montserratLight">
            Inizio
        </div>
    </div>
</div>