<div class="card bgSecondary txPrimary pages-card-dimension">
    <div class="header bgPrimary txSecondary">
        <div class="titleHeader">
            Il tuo nome..
        </div>
        <div class="menuItem">
            Chi siamo
        </div>
        <div class="menuItem">
            Contatti
        </div>
        <div class="menuItem">
            Appuntamenti
        </div>
    </div>
    <div class="mainTitle">
        Prenota Ora!
    </div>
    <div class="secondTitle">
        Gestisci le tue prenotazioni con un click!
    </div>
    <app-calendario class="calendar">
    </app-calendario>
    <div class="uno CTAButton txSecondary bgPrimary tx8 pd4">Prenota</div>
</div>