:root {
    --bgcolorLight: #ee5d6c;
    --bgcolorMedium: #ce4993;
    --bgcolorDark: #6a0d83;
    --primary: white;
    --secondary: #ee5d6c;
}

@media only screen and (max-width: 576px) {
    .pages-card-collector {
        grid-template-columns: 100%;
    }
    .pages-card-dimension {
        height: 300px;
        width: 300px;
    }
}

@media only screen and (max-width: 800px) and (min-width:576px) {
    .pages-card-collector {
        grid-template-columns: 100%;
    }
    .pages-card-dimension {
        height: 400px;
        width: 400px;
    }
}

@media only screen and (max-width: 992px) and (min-width:800px) {
    .pages-card-collector {
        grid-template-columns: 50% 50%;
    }
    .pages-card-dimension {
        height: 380px;
        width: 380px;
    }
}

@media only screen and (max-width: 1200px) and (min-width:992px) {
    .pages-card-collector {
        grid-template-columns: 50% 50%;
    }
    .pages-card-dimension {
        height: 450px;
        width: 450px;
    }
}

@media only screen and (min-width: 1200px) {
    body,
    .pages-card-collector {
        grid-template-columns: 50% 50%;
    }
    .pages-card-dimension {
        height: 500px;
        width: 500px;
    }
}

@font-face {
    font-family: MontserratRegular;
    src: url("../assets/font/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: MontserratBold;
    src: url("../assets/font/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: MontserratLight;
    src: url("../assets/font/Montserrat-Light.ttf") format("truetype");
}

body,
html {
    margin: 0pt;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 400px) {
     :root {
        --s3: 10px;
        --s4: 15px;
        --s5: 25px;
        --iconSkillSize: 40px;
        --collaborazioneTop: 30vh;
    }
}

@media only screen and (max-width: 600px) and (min-width: 400px) {
     :root {
        --s3: 15px;
        --s4: 20px;
        --s5: 30px;
        --iconSkillSize: 45px;
        --collaborazioneTop: 30vh;
    }
}

@media only screen and (max-width: 800px) and (min-width: 600px) {
     :root {
        --s3: 20px;
        --s4: 25px;
        --s5: 35px;
        --iconSkillSize: 50px;
        --collaborazioneTop: 40vh;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 800px) {
     :root {
        --s3: 20px;
        --s4: 30px;
        --s5: 40px;
        --iconSkillSize: 55px;
        --collaborazioneTop: 40vh;
    }
}

@media only screen and (min-width: 1200px) {
     :root {
        --s3: 20px;
        --s4: 30px;
        --s5: 40px;
        --iconSkillSize: 60px;
        --collaborazioneTop: 40vh;
    }
}

.fromLeft10 {
    margin-left: 10vw;
}

.fromBottom10 {
    position: absolute;
    bottom: 10vh;
}

.fromBottom30 {
    position: absolute;
    bottom: 30vh;
}

.parallelogram {
    margin-top: 100vh;
    min-height: 100vh;
    width: 100vw;
    padding-top: 16%;
    padding-bottom: 16%;
    background-color: var(--bgcolorMedium);
    clip-path: polygon(0 8%, 100% 0%, 100% 92%, 0% 100%);
}

.wide {
    width: 100vw;
}

.visibleDebug {
    background-color: aqua;
}

.margin10 {
    margin: 10vh;
}

.montserratBold {
    font-family: MontserratBold;
}

.montserratLight {
    font-family: MontserratLight;
}

.montserratRegular {
    font-family: MontserratRegular;
}

.radius16 {
    border-radius: 16px 16px 16px 16px;
}

.border8 {
    border-style: solid;
    border-color: #eee;
    border-width: 8px;
}

.CTAButton {
    border-radius: 16px;
    transition: 0.3s;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
}

.CTAButton:hover {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
}

.bgSecondary {
    background-color: var(--secondary);
}

.bgPrimary {
    background-color: var(--primary);
}

.txSecondary {
    color: var(--secondary);
}

.txPrimary {
    color: var(--primary);
}

.tx8 {
    font-size: 8px;
}

.pd4 {
    padding: 4px;
}

.pd8 {
    padding: 8px;
}

.pdL8 {
    padding-left: 8px;
}

.pdR8 {
    padding-right: 8px;
}

.mgL8 {
    margin-left: 8px;
}