<div class="card pages-card-dimension">
    <div class="header">
        <div class="titleHeader">
            Il tuo nome..
        </div>
        <div class="menuItem">
            Contatti
        </div>
        <div class="menuItem">
            Collabora
        </div>
        <div class="menuItem">
            Chi siamo
        </div>
        <div class="menuItem">
            Cosa facciamo
        </div>
    </div>
    <div class="mainTitle">
        Crea una vetrina online per la tua attività
    </div>
    <div class="secondTitle">
        Ottieni visibilità
    </div>
    <div class="uno CTAButton txSecondary bgPrimary tx8 pd4">AppStore</div>
    <div class="due CTAButton txSecondary bgPrimary tx8 pd4 mgL8">GooglePlay</div>
    <img class="logo" src="assets/icon/yourlogohere.svg">
    <div class="logoTesto">Il <br> tuo <br> logo</div>
    <div class="footer"></div>
</div>