<div class="advantagesPage">
    <div class="title montserratRegular">
        I nostri siti
    </div>
    <div class="ready montserratLight">
        Sei pronto?
    </div>

    <div class="left">
    </div>

    <div class="advantage">
        <div class="advantage-title">
            Professionalità
        </div>
        <div class="advantage-description">
            Ideati per non avere limiti.
        </div>
    </div>
    <div class="advantage">
        <div class="advantage-title">
            Design
        </div>
        <div class="advantage-description">
            Disegnati per essere perfetti.
        </div>
    </div>
    <div class="advantage">
        <div class="advantage-title">
            Affidabilità
        </div>
        <div class="advantage-description">
            Basati sulle ultime novità tecnologiche.
        </div>
    </div>

    <div class="advantage">
        <div class="advantage-title">
            Convenienza
        </div>
        <div class="advantage-description">
            Soluzioni flessibili e vantaggiose.
        </div>
    </div>
    <div class="advantage">
        <div class="advantage-title">
            Mobile
        </div>
        <div class="advantage-description">
            Progettati per adattarsi ad ogni dispositivo.
        </div>
    </div>
    <div class="advantage">
        <div class="advantage-title">
            Accessibilità
        </div>
        <div class="advantage-description">
            Concepiti per essere user-friendly
        </div>
    </div>
    <div class="right">
    </div>
    <div class="footer bgPrimary">
    </div>
</div>