#8764B8
#881798 



#35DFD2
#001E54

#121212
#181818
#282828


#E86193 rosachiaro
#703BCB bluscuro

--bgcolorLight:#E86193;
--bgcolorMedium:#881798;
--bgcolorDark: #8113B4; 
--primary: white;
--secondary: black;

--bgcolorLight:#ee5d6c;
--bgcolorMedium:#ce4993;
--bgcolorDark: #6a0d83; 
--primary: white;
--secondary: black;

--bgcolorLight:#E86193;
--bgcolorMedium:#ce4993;
--bgcolorDark: #703BCB; 
--primary: white;
--secondary: black;